@import url('https://fonts.googleapis.com/css2?family=Poppins>ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #f9580e;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c0b0b;
}

.heading {
    font-size: 4rem;
    color: #f9580e;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: 2rem;
    font-weight: 600;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

header {
    width: 100%;
    background: #171717;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #f9580e;
}

header .logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

header .fa-bars{
    font-size: 3rem;
    color: #f9580e;
    cursor: pointer;
    display: none;
    transition: .2s;
}

.home {
    min-height: 50vh;
    background: linear-gradient(rgba(225,184,0,0.2), rgba(236,134,0,0.8)), url(images/bg.png),no-repeat;    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 25rem;
    text-align: center;
}

.home .content h1 {
    font-size:  5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size:  2rem;
    color: #fff;
    padding: 1rem 25rem;
}


.ae {
    background: #171717;
}

.ae .title{
    margin-bottom: 3rem;
}
.ae .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ae .row .image img {
    height: 30vh;
    width: 50vw;
    margin-left: 100px;
}

.ae .row .content {
    padding-left: 5rem;
    margin:  5rem 0;
}
.ae .row .content h3 {
    font-size: 3rem;
    color: #f9580e;
}

.ae .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}

.oo {
    background: #171717;
}

.oo .title{
    margin-bottom: 3rem;
}
.oo .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.oo .row .content {
    padding-left: 5rem;
    margin:  5rem 0;
}
.oo .row .content h3 {
    font-size: 3rem;
    color: #f9580e;
}

.oo .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
}


.mt {
    background: #171717;
}


.vi {
    background: #171717;
}

.vi .box-container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.vi .box-container .box {
    width: 28rem;
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .3);
    background: #0c0b0b;
    margin: 4rem 2rem;
}

.vi .box-container .box img {
    height: 8.5rem;
    width: 8.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -4rem;
    border: .6rem solid #f9580e;
    border-left: .6rem solid #ffc246;
    border-bottom: .6rem solid #ffc246;
}

.vi .box-container .box h3 {
    font-size: 2rem;
    color: #f9580e;
    padding: 0 .5rem;
}

.vi .box-container .box p {
    font-size: 1.4rem;
    color: #fff;
    padding: 1.3rem .1rem;
}

.vi .box-container .box .stars i {
    font-size: 1.6rem;
    color: #ffc246;
    padding: 1.3rem .1rem;
}

.footer {
    text-align: center;
}
.footer .icons{
    padding: 3rem 0;
}

.footer .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: #ffc246;
    border: .2rem solid #ffc246;
    margin:  0 .1rem;
    transition: .2s linear;
}

.footer .icons a:hover {
    color: #fff;
    background: #f9580e;
    border-color: #f9580e;
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: #171717;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }
    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nave-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .ae .row {
        flex-direction: column-reverse;
    }
    
    .ae .row .image img {
        height: 30vh;
        width: 30vw;
    }

    .ae .row .content {
        padding: 0 2.5rem;
    }

    .oo .box-container {
        width: 100%;
    }

    .mt .row {
        flex-flow: column;
    }

    .mt .row .form-container {
        width: 90%;
        padding: 0;
    }
}
